
  	<div>
  		<%= attachment_image_tag @user, :image, :fill, 100, 100, fallback: "no_image.jpg",size:"100×100", class:"card-img-top" %>
  	</div>

  	  <h1 class="card-title mt-4 ml-4">
  	  	<%= @user.name %>
      </h1>
  	  <p class="card-body">
  	  	<%= @user.introduction %>
      </p>
      <div class="card-body">
    	  <span>
          <%= link_to follows_users_user_path(id: @user.id) do %>
    	  	  <strong><%= @user.followings.count %></strong> フォロー中
          <% end %>
    	  </span>
    	  <span class="ml-3">
          <%= link_to followers_users_user_path(id: @user.id) do %>
    	  	  <strong><%= @user.followers.count %></strong> フォローワー
          <% end %>
    	  </span>
      </div>