<div class="row">
  <div class="row col-md-4">
    <div class="col-12">
      <div class="card mt-5" style="width: 100%; ">
        <div class="card-body">
        <div id="follow_count_<%= @user.id %>">
          <%= render partial: "profile", user: @user %>
        </div>
        <% if @user == current_user %>
        <div>
          <%= link_to "編集する",edit_users_user_path(current_user), class: "btn btn-outline-success" %>
        </div>
        <% else %>
        <div id="follow_buttons_<%= @user.id %>">
          <%= render partial: 'users/relationships/relationship', locals: { user: @user } %>
        </div>
      <% end %>
    </div>
  </div>
</div>
</div>

<div class="col-md-8">
  <h2>投稿一覧</h2>
  <div class="card">
  <% @user.posts.each do |post| %>
    <%= link_to users_post_path(post) do %>
      <%= attachment_image_tag post, :image, :fill, 100, 100, fallback: "no_image.jpg",size:"10×10" %>
    <% end %>
    <div class="card-body">
          <h5 class="card-title"><%= post.title %></h5>
          <% if @user == current_user %>
            <div><%= link_to "編集する",edit_users_post_path(post), class: "btn btn-outline-success" %></div>
          <% end %>
    <% end %>
  </div>
</div>
</div>

<div class="col-md-8">
    <h2>お気に入り一覧</h2>
    <div class="card">
      <% @favorite_posts.each do |favorite| %>
      <div>
        <%= link_to users_post_path(favorite) do %>
      	  <%= attachment_image_tag favorite, :image, :fill, 300, 300, fallback: "no_image.jpg",size:"100×100" %>
        <% end %>
      </div>
      <div class="card-body">
          <h5 class="card-title">
        <%= favorite.title %>
      </h5>
    </div>
      <% end %>
    </div>
  </div>
</div>



