<div class="card mx-auto mt-5" style="width: 50%;">
  <div class="card-body mx-auto">

<%= form_for @inquiry, :url => users_inquiry_confirm_path do |f| %>
  <div class="page-header mt-5 ml-4 mb-5 badge badge-light">
    <h1>お問い合わせフォーム</h1>
  </div>

  <% if @inquiry.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <strong>入力内容にエラーがあります</strong>
      <ul>
        <% @inquiry.errors.each do |attr, msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


<div class="row mx-auto">
<div class="col-xs-10 mx-auto">
  <table class="table">
    <tr>
      <th>名前<span class="badge badge-danger">必須</span></th>
      <td><%= f.text_field :name %></td>
    </tr>
    <tr>
      <th>メールアドレス<span class="badge badge-danger">必須</span></th>
      <td><%= f.text_field :email %></td>
    </tr>
    <tr>
      <th>お問い合わせ内容</th>
      <td><%= f.text_area :message %></td>
    </tr>
  </table>
  <%= f.submit '確認', class: 'btn btn-primary btn-raised' %>
<% end %>

</div>
</div>
</div>
</div>