


<%= attachment_image_tag @post, :image, :fill, 300, 300, fallback: "no_image.jpg",size:"100×100" %>
<p>住所</p>
<p><%= @post.address %></p>


<div id="favorites_buttons_<%= @post.id %>">
  <%= render partial: 'users/favorites/favorite', locals: { post: @post} %>
</div>
<!-- locals:{}の中身は@postをpostに入れてpostを_favorite.htmlで使えるようにするため。
partialとlocalsを消しても非同期は使える。その時は_favorite.htmlのpostを@postに変えて、create.jsのpartialとlocalsも消したらうまくいく。
<%= @post.id %>の部分はネストされてるからpost.idも必要ってこと？ -->




  <strong>投稿者
    <%= link_to users_user_path(@post.user) do %>
      <%= @post.user.name %>
    <% end %>
  </strong>

  <% if current_user != @post.user %>
        <% if @post.user.followed_by?(current_user) %>
            <p><%=link_to "フォロー済み", users_user_relationships_path(@post.user.id), method: :delete %></p>
        <% else %>
            <p><%=link_to "フォローする", users_user_relationships_path(@post.user.id), method: :post %></p>
        <% end %>
    <% end %>

<div id="map"></div>

<style>
#map{
  height: 150px;
  width:270px;
}
</style>
<script type="text/javascript">
    function initMap() {

        var test ={lat: <%= @post.latitude %>, lng: <%= @post.longitude %>};
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 15,
            center: test
        });
        var transitLayer = new google.maps.TransitLayer();
        transitLayer.setMap(map);

        var contentString = '住所：<%= @post.address %>';
        var infowindow = new google.maps.InfoWindow({
            content: contentString
        });

        var marker = new google.maps.Marker({
            position:test,
            map: map,
            title: contentString
        });

        marker.addListener('click', function() {
            infowindow.open(map, marker);
        });
    }
</script>

<script async defer
        src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap">
</script>

<%= form_with model: [@post, @post_comment], url: users_post_post_comments_path(@post) do |f| %>
  <div class="row">
    <div class="col-sm-6">
      <%= f.text_area :comment, rows:'5', class: "form-control",placeholder: "コメントをここに" %>
    </div>
  </div>
      <%= f.submit "送信する" %>
<% end %>

<table class="table">
  <tr>
    <th>ユーザー名</th>
    <th>コメント内容</th>
    <th></th>
　</tr>
<% @post.post_comments.each do |post_comment| %>
  <tr>
    <td>
        <%= post_comment.user.name %>
    </td>
    <td>
        <%= post_comment.comment %>
    </td>
        <% if  post_comment.user_id == current_user.id %>
    <td><%= link_to "削除",users_post_post_comment_path(@post, post_comment), method: :delete, local: true , data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn-sm btn-danger " %></td>
        <% end %>
    </div>
</div>
  </tr>
<% end %>
</table>






