<!DOCTYPE html>
<html>
  <head>
    <title>HiraPedia</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-fixed-top">
      <div class="container">
        <div class="row">
          <% if user_signed_in? %>
          <span class="nav-name">
            <%= current_user.name %>さん、ようこそ！
          </span>
          <% end %>

          <% if user_signed_in? %>
           <nav>
             <ul class="nav navbar-nav navbar-right">
               <li class="user-li"><%= link_to "マイページ", users_user_path(current_user),class: "Editlink" %></li>
               <li class="user-li"><%= link_to "記事一覧", users_post_index_path,class: "Editlink" %>
               </li>
               <li class="user-li"><%= link_to "新規投稿", new_users_post_path,class: "Editlink" %></li>
               <li role="presentation" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">枚方<span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <%= link_to users_facilities_path do %>
                   駅
                  <% end %>
                  <%= link_to users_facilities_path do %>
                   ジム
                  <% end %>
                </ul>
                </li>
               <li class="user-li"><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "Editlink" %></li>
             </ul>
           </nav>

           <% elsif admin_signed_in? %>
            <nav>
              <ul class="nav navbar-nav navbar-right">
                <li><%= link_to "枚方記事一覧", admins_facilities_path,class: "Editlink" %></li>
                <li role="presentation" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">枚方<span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <%= link_to users_facilities_path do %>
                   駅
                  <% end %>
                  <%= link_to users_facilities_path do %>
                   ジム
                  <% end %>
                </ul>
                </li>
                <li><%= link_to "枚方記事新規投稿", new_admins_facility_path,class: "Editlink" %></li>
                <li><%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "Editlink" %></li>
              </ul>
            </nav>

          <% else %>
            <nav>
              <ul class="nav navbar-nav navbar-right">
                <li><%= link_to "Home", users_root_path,class: "Editlink" %></li>
                <li><%= link_to "about", users_about_path,class: "Editlink" %></li>
                <li><%= link_to "Sign Up", new_user_registration_path,class: "Editlink" %></li>
                <li><%= link_to "Log In", new_user_session_path,class: "Editlink" %></li>
                <li><%= link_to "ゲストログイン", users_guest_sign_in_path, method: :post, class: "Editlink" %></li>
              </ul>
            </nav>
          <% end %>

        </div>
      </div>
    </header>


    <div class= container>
      <%= yield %>
    </div>


    <footer>
      <a class="insta"href="https://www.instagram.com/?hl=ja"><i class="fab fa-instagram"></i></a>
      <a href="https://twitter.com/login?lang=ja"><i class="fab fa-twitter"></i></a>
      <a class="youtube" href="https://www.youtube.com/user/YouTubeJapan"><i class="fab fa-youtube"></i></a>
    </footer>

  </body>
</html>
